<!doctype html>
<html lang="en">
<head>
	<title>Ironhack Imdb</title>
	<link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" media="screen" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript" src="js/equalcolumns.js"></script> 
</head>
<body>
<header>
<h1>IronhackMDB</h1>
</header>
<section>
<nav>
	<ul>
		<li class="selected"><a href="./">Home</a></li>
		<li><a href="./our_ranking">Our Ranking</a></li>
		<li><a href="./imdb_ranking">Imdb Ranking</a></li>	
	</ul>
</nav>
</section>