<%= erb :header %>

<section id="intro">
	<header>
		<h2>Input your Show, comments and rating</h2>
	</header>
	<form action='/' method='post'>
		<ul id="input_data">
			<li>
			Show
				<input name='show'> 
				</li>
			<li>
				Comments   
				<input name='comments'>
			</li>
				My rating   
				<input name='rating'>
			</li>
		</ul>
		
		<div id ="selection">
			<select action='add' name='action'>
				<option value='add'>Add a TV show</option >
			 	<option value='find'>Find a show</option>
			 	<option value='delete'>Delete a show</option>
		 	</select>

			<input type="submit" value='Apply selected option' />
		</div>
	</form>
</section>

<section id = "content">
	<ul class="column">
		<% @list.each do |show| %>	
			<li>
			<section class="short-block">
				<h3>				
				<%= show.name %> 
				</h3>
				<p>
				<b>Rating: </b>
				<%= show.own_rating %> 
				<br>
				<b>Comments: </b>
				<br>
				<%= show.own_comments %>
				<br>	
			</section>		
			</li>
		<% end %>
	</ul>
</section>