<h1>IronhackMDB</h1>
<h3>Input your Show, comments and rating</h3>
<div id="show_form">
<form action='/' method='post'>
	<ul>
	<li>
	Show
	<input name='show'> 
	</li>
	<li>
	Comments   
	<input name='comments'>
	</li>
	My rating   
	<input name='rating'>
	</li>
	</div>
	<div id ="selection">
	<select action='add' name='action'>
		<option value='add'>Add a TV show</option >
	 	<option value='find'>Find a show</option>
	 	<option value='delete'>Delete a show</option>
 	</select>
	<input type="submit" value='Apply selected option' />
	</div>
</form>
</div>
<div id="listing">
<h4>
	List of TV shows
</h4>
	<ul>
		<% @list.each do |show| %>
		<li>
			<%= show.name %> 
		</li>
		<% end %>
	</ul>
</div>