<%= erb :header %>

<section id="intro">
<header>
		<h2>Your TV shows ranking</h2>
</header>
</section>
<section id="content">

	<ul class="block">
		<% @list.each do |show| %>
			<li>
				<%= show.name %> 
				<%= show.own_rating %> 
				<%= show.own_comments %> 
			</li>
		<% end %>
	</ul>
</section>
</body>