<%= erb :header %>

<section id="intro">
<header>
		<h2>Your TV shows ranking</h2>
</header>
</section>

<section id = "content">
	<ul class="column">
		<% @list.each do |show| %>	
			<li>
			<section class="block">
				<h3>				
				<%= show.name %> 
				</h3>
				<p>
				<b>Rating: </b>
				<%= show.own_rating %> 
				<br>
				<b>Comments: </b>
				<br>
				<%= show.own_comments %>
				<br>	
			</section>		
			</li>
		<% end %>
	</ul>
</section>